.body {
  margin: 0;
  background-image: url("../img/background.jpg");
  background-size: cover;
  font-family: "Raleway", sans-serif;
}

.container, .weather {
  border-radius: 2px;
  margin-top: 11%;
  width: 60%;
  margin-left: 18%;
  padding: 2%;
  background-color: #ffffff6e;
}

.search {
  display: grid;
  grid-template-columns: 4fr 1fr;
  margin-bottom: 2%;
}
.search__error {
  color: red;
}
.search__input {
  padding: 2%;
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}
.search__button {
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

.local-weather {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2%;
}
.local-weather__header {
  margin: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.local-weather__heading {
  grid-column: 1/3;
  margin: 0;
  font-size: 3rem;
}
.local-weather__temp {
  grid-column: 1/2;
  font-size: 3rem;
}
.local-weather__temp--estimated {
  font-size: 1.5rem;
  text-align: center;
}

.searched-weather {
  display: grid;
  padding: 8%;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2%;
  background-color: #ffffff47;
}

.weather {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 14px;
}
.weather__header {
  margin: 0;
  display: grid;
  grid-column: 1/3;
  grid-template-columns: repeat(2, 1fr);
}
.weather__heading {
  margin: 0;
  grid-column: 1/3;
  font-size: 2rem;
}
.weather__temp {
  grid-column: 1/2;
  font-size: 2rem;
}
.weather__temp--estimated {
  font-size: 1.5rem;
  text-align: center;
}
.weather__delete {
  grid-row: 4/5;
  border-radius: 5px;
  background-color: #ff0000c2;
  border: navajowhite;
  padding: 4% 27%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.button-up {
  border: navajowhite;
  border-radius: 2px;
  color: white;
  position: fixed;
  background-color: red;
  padding: 20px 20px;
  right: 50px;
  bottom: 50px;
  cursor: pointer;
}

.button-up:hover, .fa-arrow-up:hover {
  transform: scale(1.1);
  transition: all ease 1s;
}